<section class="content">
				<div class="white-box padding-25 contract-dtl">
					<h2>Contract Details.</h2>
					<div class="contract-name contract-dtl-div">
						<label>HIRE:</label>
						<span></span> <strong>Nicholas M.</strong>
					</div>
					<div class="contract-dtl-div">						
						<label>Related Job listing:</label>
						<strong>IOS Developer (#204125654987)</strong>
						<div class="checkbox square">
							<div class="checkbox-inr">
								<input id="check111" type="checkbox" name="check" value="check111">
								<label for="check111">Close the job post if the freelancer accept this offer (You can always repost it later.)</label>
							</div>
						</div>
					</div>
					<div class="contract-dtl-div edit-input-div">
						<label>Contract title:</label>
						<input type="text" name="" placeholder="IOS Developer"/>
						<span class="edit-input-span"><i class="fa fa-edit"></i> Edit</span>
					</div>
					<div class="contract-dtl-div edit-input-div">
						<label>Hourly rate:</label>
						<input type="text" name="" placeholder="$50,00 /HR, 25 BNT/HR"/>
						<span class="edit-input-span"><i class="fa fa-edit"></i> Edit</span>
						<p>NIcholas M. profile rate  is $50.00 /HR, 25 BNT/HR</p>
					</div>
					<div class="contract-dtl-div limit-select">
						<label>limit:</label>
						<select class="selectpicker">
							<option>10 HRS/WEEK</option>
							<option>20 HRS/WEEK</option>
							<option>30 HRS/WEEK</option>
							<option>40 HRS/WEEK</option>
						</select>
						<p>NIcholas M. profile rate  is $50.00 /HR, 25 BNT/HR</p>
					</div>
					
					<div class="additional-info">
						<h2>Additional information</h2>
						<div class="additional-info-textarea">
							<textarea></textarea>
						</div>
						<div class="additional-info-attachfile">
							<div class="drag-upload">
								<label class="btn btn-block btn-primary"> <i class="fa fa-plus"></i> ATTACH FILE <input type="file" style="display: none;"></label>
							</div>
						</div>
					</div>
					<div class="contract-btm">
						<div class="checkbox square">
							<input id="check115" type="checkbox" name="check" value="check115">
							<label for="check115">I understand and agree to the <a href="">Token Teams Marketplce user agreement, escrow instructions</a> and 
							<a href="">corporate policies</a>.</label>
						</div>
						<div class="contract-btm-btn">
							<button type="submit">HIRE NICHolas	M.</button>
							<button type="submit">CANCEL</button>
						</div>
					</div>
					
				</div>
			</section>