<section class="content">
				<div class="white-box messenger">
					<div class="messenger-l">
						<div class="messenger-head">
							<h2>Messenger</h2>
						</div>	
						<ul class="messenger-l-ul">
							<li>
								<div class="messenger-l-list">
									<span></span>
									<h2>Gavin Lewis</h2>
									<h3>You: Okay. Got It.</h3>
									<p>07:21</p>
								</div>
							</li>
							<li>
								<div class="messenger-l-list">
									<span></span>
									<h2>Gavin Lewis</h2>
									<h3>You: Okay. Got It.</h3>
									<p>07:21</p>
								</div>
							</li>
							<li>
								<div class="messenger-l-list">
									<span></span>
									<h2>Gavin Lewis</h2>
									<h3>You: Okay. Got It.</h3>
									<p>07:21</p>
								</div>
							</li>
							<li>
								<div class="messenger-l-list">
									<span></span>
									<h2>Gavin Lewis</h2>
									<h3>You: Okay. Got It.</h3>
									<p>07:21</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="messenger-r">
						<div class="messenger-head">
							<h2>Gavin Lewis</h2>
							<div class="messenger-r-r">
								<div class="chat-srh">
									<a href="">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
  <g>
    <path d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"/>
  </g>
</svg>
									</a>
								</div>
								
								<div class="dropdown">
									<a href="" id="chat-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-h"></i></a>
									<ul class="dropdown-menu" aria-labelledby="chat-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
									</ul>
								</div>
							</div>
						</div>	
						
						<div class="chat-box">
							<ul class="chat-box-ul">
								<li class="chat-user">
									<div class="chat-box-inr">
										<div class="chat-box-head">
											<span></span>
											<h4>Frankin Schmidt</h4>
											<h6>09:15</h6>
										</div>
										<div class="chat-box-bg">
											Thank you for applying to my design job. I have accepted your application and offered  you the job.
											<h5><i class="fa fa-picture-o"></i> brand-presentation.jpg</h5>
										</div>
									</div>
								</li>
								<li class="chat-client">
									<div class="chat-box-inr">
										<div class="chat-box-head">
											<span></span>
											<h4>Frankin Schmidt</h4>
											<h6>09:15</h6>
										</div>
										<div class="chat-box-bg">
											Thank you for applying to my design job. I have accepted your application and offered  you the job.
											<h5><i class="fa fa-picture-o"></i> brand-presentation.jpg</h5>
										</div>
									</div>
								</li>
								<li class="chat-user">
									<div class="chat-box-inr">
										<div class="chat-box-head">
											<span></span>
											<h4>Frankin Schmidt</h4>
											<h6>09:15</h6>
										</div>
										<div class="chat-box-bg">
											Thank you for applying to my design job. I have accepted your application and offered  you the job.
											<h5><i class="fa fa-picture-o"></i> brand-presentation.jpg</h5>
										</div>
									</div>
								</li>
								<li class="chat-client">
									<div class="chat-box-inr">
										<div class="chat-box-head">
											<span></span>
											<h4>Frankin Schmidt</h4>
											<h6>09:15</h6>
										</div>
										<div class="chat-box-bg">
											Thank you for applying to my design job. I have accepted your application and offered  you the job.
											<h5><i class="fa fa-picture-o"></i> brand-presentation.jpg</h5>
										</div>
									</div>
								</li>
							</ul>
							<div class="chat-chating">
								<div class="drag-upload">
									<label class="btn btn-block btn-primary"><i class="fa fa-paperclip"></i> <input type="file" style="display: none;"></label>
								</div>
								<form>
									<div class="chat-textarea">
										<input type="text" name=""  placeholder="Type Message..." />
										<button type="submit"><i class="fa fa-paper-plane"></i></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>