
<div class="main-container">
  <div class="main-image"></div>
  <div class="main-image1"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav-bar">
            <div class="logo-img"></div>
            <div class="page-nav">
              <a>Browser</a>
              <a>How it works</a>
              <a>About Us</a>
            </div>
            <div class="auth-nav">
              <a routerLink="/auth">Sign In</a>
              <a routerLink="/auth/sign-up">Sign Up</a>
              <button class="btn-become">Become a Freelancer</button>
            </div>
        </div>
      </div>
      <div class="col-md-12 get-more">
        <p>Get more done</p>
        <p>with freelancers</p>
      </div>
      <div class="col-md-12 get-business">Grow your business with the top freelancing website.</div>
      <div class="col-md-4 col-sm-8">
          <input class="txt-type" placeholder="What type of work to you need?">
      </div>
      <div class="col-md-2 col-sm-4">
        <button class="btn-get-started">Get Started</button>
      </div>
    </div>
  </div>
</div>
<div class="how-it-work">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="works-title">How it works</p>
      </div>
      <div class="col-sm-6 col-md-3">
          <div class="image-parent">
            <div class="find-img"></div>
          </div>
          <div class="title">Find</div>
          <div class="content">Post a job and tell us about your project. We'll quickly find you the right person.</div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="image-parent">
          <div class="hire-img"></div>
        </div>
        <div class="title">Hire</div>
        <div class="content">Browse profiles, reviews then interview top candidates. Hire and begin your project.</div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="image-parent">
          <div class="work-img"></div>
        </div>
        <div class="title">Work</div>
        <div class="content">Use the TokenTeams platform to chat, share files, and collaborate on the go.</div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="image-parent">
          <div class="pay-img"></div>
        </div>
        <div class="title">Pay</div>
        <div class="content">Invoicing and payments happen through TokenTeams.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="find-work">
          <div class="find-work-title">Find the level<br/>that works for you</div>
          <div class="find-work-content">Post a job and tell us about your project. We'll<br/>quickly find you the right person.</div>
          <button class="btn-find-work">Get Started</button>
        </div>
      </div>
      <div class="col-sm-6 findwork-img"></div>
    </div>
    <div class="row">
      <div class="col-sm-6 easily-img"></div>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="easily-control">
          <div class="easily-control-title">Easily control<br/>all of your teamates</div>
          <div class="easily-control-content">Browse profiles, reviews, and proposals then<br/>interview top candidates. Hire a favorite and<br/>begin your project.</div>
          <button class="btn-easily-control">Start Using Now</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="supercharge">
          <div class="supercharge-title">Supercharge your<br/>team’s productivity</div>
          <div class="supercharge-content">Post a job and tell us about your project. We'll<br/>quickly find you the right person.</div>
        </div>
      </div>
      <div class="col-sm-6 supercharge-img"></div>
    </div>
    <div class="row token-compagines">
      <div class="col-sm-12">
        <div class="compagines-tokenteams">
          <p class="campagines-title">200+ companies<br/>shifted to TokenTeams</p>
          <i class="campagines-left"></i>
          <i class="campagines-right"></i>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tokenteams">
          <p class="tokenteams-content">Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product </p>
          <div class="member">
            <div class="member-img1"></div>
            <div class="member-content">
              <p class="member-name">Nathaniel Weber</p>
              <p class="member-position">FOURSQUARE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tokenteams">
          <p class="tokenteams-content">Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product </p>
          <div class="member">
            <div class="member-img2"></div>
            <div class="member-content">
              <p class="member-name">Nathaniel Weber</p>
              <p class="member-position">FOURSQUARE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tokenteams">
          <p class="tokenteams-content">Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product </p>
          <div class="member">
            <div class="member-img3"></div>
            <div class="member-content">
              <p class="member-name">Nathaniel Weber</p>
              <p class="member-position">FOURSQUARE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="start-tokenteam">
        <div class="start-tokenteam-image"></div>
        <div class="start-tokenteam-image1"></div>
        <div class="col-sm-12">
          <div class="start-tokenteam-content">
              <p class="start-title">Start using TokenTeams now</p>
              <p class="start-body">Create your TokenTeams in minutes.<br/>team is here to help you.</p>
              <button class="btn-start">Get Started for Free</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer-top">
        <div class="footer-logo"></div>
        <div class="social-icons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row footer-centent">
      <div class="col-sm-4">
        <div class="footer-block">
          <div class="footer-title">PRODUCT</div>
          <a class="footer-content">Features</a>
          <a class="footer-content">About Us</a>
          <a class="footer-content">Press</a>
          <a class="footer-content">Blog</a>
          <a class="footer-content">Terms of Service</a>
          <a class="footer-content">Privacy Policy</a>
          <a class="footer-content">Trust & Safety</a>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="footer-block">
            <div class="footer-title">ADDITIONAL SERVICES</div>
            <a class="footer-content">Enterprise Solutions</a>
            <a class="footer-content">Enterprise Summit</a>
            <a class="footer-content">Local Business Resources</a>
            <div class="footer-title">CONNECT WITH US</div>
            <a class="footer-content">Contact & Support</a>
            <a class="footer-content">API Center</a>
            <a class="footer-content">Mobile App</a>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="footer-block">
            <div class="footer-title">Browse</div>
            <a class="footer-content">Freelancers by Skill</a>
            <a class="footer-content">Freelancers in USA</a>
            <a class="footer-content">Freelancers in UK</a>
            <a class="footer-content">Freelancers in Canada</a>
            <a class="footer-content">Freelancers in Australia</a>
            <a class="footer-content">Find Jobs</a>
            <a class="footer-content">Hiring Resources</a>
          </div>
      </div>
    </div>
  </div>
</div>